.home{
    background: linear-gradient(rgba(174, 173, 173, 0.3), rgba(174, 173, 173, 0.3)),url("https://wallpapercave.com/wp/wp9197346.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    @media(min-width:768px)
    {
        width:100vw;
        height:100vh;
        background-attachment: fixed;
    }
    @media (max-width:768px) {
        height:300px;
    }
}
.content{
    position: relative;
    top:175px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:20px;
    @media(max-width:768px)
    {
        top:100px;
    }
}
.con-upper{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.5rem;
    margin:0;
    color:rgb(255, 208, 208);
    @media (max-width:768px)
    {
        font-size:0.8rem;
    }
}
.con-lower{
    font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
    width:60%;
    font-size: 4rem;
    margin:0;
    color:white;
    @media(max-width:768px)
{
    font-size:1.5rem;
}
}
.p-corr{
    margin:0;
}
.map-container{
    
}
  