.navbar{
    padding-top:20px;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right:auto;
}
.nav-items{
    color:white;
    gap:15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.2rem;;
}
.nav-brand{
    color:white;
    font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size:1.5rem;
  @media (max-width:768px)
  {
    font-size:0.9rem;
  }
}
.small{
  @media (max-width:768px)
  {
    width:100%;
  }
}